body
{
    background-color: mediumpurple;
}

img.main_logo_anyway
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-bottom: 1%;
    margin-top: 1%;
}
img.main_logo_spacegame
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 1%;
    margin-top: 1%;
}


/* Navigation bar */

.topnav
{
    overflow: hidden;
    background-color: #A508FB;

    font-family: Arial, serif;
    font-size: 24pt;

    margin: 0 auto 1%;
}

.topnav a
{
    float: left;
    color: #000000;
    background-color: #A508FB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.leftnav
{
    float: right;
}

.topnav a.leftnav:hover
{
    color: #000000;
    background-color: #A508FB;
}

.topnav a:hover
{
    background-color: rgba(105, 0, 163, 0.7);
    color: black;
}

.topnav a.active
{
    background-color: #6900a3;
    color: #ffffff;
}

/* Highscore table */

table
{
    font-size: 32pt;
    font-family: Calibri, serif;

    padding: 0;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

th
{
    font-size: 38pt;
    background-color: rgba(105, 0, 163, 0.31);
    padding-left: 60px;
    padding-right: 60px;

}

td, tr
{
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #6900a3;
}

tr:hover
{
    background-color: rgba(131, 0, 191, 0.1);
}

/* input */

button
{
    background-color: rgba(105, 0, 163, 0.31);
    border: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 24pt;
}

.playerinfo
{
    background-color: rgba(105, 0, 163, 0.31);
    padding: 5px 10px;
    font-size: 24pt;
    text-align: center;
    float: right;
}

button:hover
{
    background-color: rgba(105, 0, 163, 0.5);
}

button:active
{
    background-color: rgba(105, 0, 163, 0.7);
}

input
{
    background-color: rgba(105, 0, 163, 0.31);
    border: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 24pt;
}

input:hover
{
    background-color: rgba(105, 0, 163, 0.5);
}

div.searchtable, div.abouttext
{
    margin-top: 2%;
}

/* Placeholder text color in textfield */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: mediumpurple;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: mediumpurple;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color-color: mediumpurple;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: mediumpurple;
}
:-ms-input-placeholder { /* Microsoft Edge */
    color: mediumpurple;
}

::placeholder { /* Most modern browsers support this now. */
    color: mediumpurple;
}

.switch
{
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
}

.switch input
{
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a508fb;
    -webkit-transition: .2s;
    transition: .2s;
    margin-top: 10%;
    margin-bottom: 0;

}

.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;

    background-color: #8300bf;
    -webkit-transition: .1s;
    transition: .4s;

    margin-top: 0;
    margin-bottom: 0;

}

input:checked + .slider {
    background-color: #a508fb;

}

input:focus + .slider {
    box-shadow: 0 0 1px #a508fb;

}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}